
PassengerAppRoot "/home/vitechsi/minsk"
PassengerBaseURI "/"
PassengerNodejs "/home/vitechsi/nodevenv/minsk/18/bin/node"
PassengerAppType node
PassengerStartupFile server.js

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^_next/image(.*)$ /$1 [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ .next/server/pages/$1.html [L]
  RewriteRule ^$ .next/server/pages/index.html [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /$1.html [L]
</IfModule>

